@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

#username-form button {
    margin-top: 1em;
}

#username-form input {
    border-radius: 8px;
    min-height: 3em;
    padding: 10px;
}

.login-form__container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
}

#about__title {
    -webkit-text-stroke-width: 0.05vh;
    -webkit-text-stroke-color: black;
}

.chat-window__container {
    display: flex;
}

.active-chat__column,
.recent-chats__column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
}

.recent-chats__column {
    background-color: blue;
}

.active-chat__column {
    background-color: red;
    position: relative;
}

h1 {
    color: #fff;
    margin-bottom: 10%;
    font-weight: bolder;
    
    
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

#about {
    margin-left: 1em;
    margin-right: 1em;
}

input[type="text"] {
    width: 100%;
    max-width: 600px;
    animation: fadeInUp 0.5s ease-in-out forwards;
    float:left;
}


.message-container {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
}

#message-input {
    width: 100%;
}

#message-send {
    margin: 0;
}

#about h1 {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px 30px;
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 5%;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
}



.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 100%;
}

input[type="text"]:focus {
    border-color: #32a9e2;
    outline: none;
}

button {
    background: #32a9e2;
    color: #fff;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1em;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: #2795d9;
    transform: translateY(-3px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#about {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

#about h1 {
    font-size: 2em;
    color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: auto;
    max-width: 90%; /* Ensure the box does not get too wide */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    html {
        font-size: 90%;
    }

    .container {
        padding: 25px;
    }

    #about {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #about img[src="img/macbook.png"] {
        width: 100%;
        max-width: 500px;
        
    
    }

    #about img[src="img/secure.png"] {
        width: 100%;
        max-width: 500px;
    }

    #about img[src="img/phone.png"] {
        width: 100%;
        max-width: 500px;
    }
}



@media screen and (max-width: 480px) {
    html {
        font-size: 80%;
        
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
        /* 24px */
    }

    #about {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .form-container {
        max-width: none;
    }

    #about h1 {
        padding: 10px;
        font-size: 1.75em; /* Slightly reduce font size on smaller devices */
    }
}
